/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Poppins:wght@400;500;700&display=swap");
/* font-family: 'Henny Penny', cursive; */
/* font-family: 'Poppins', sans-serif; */

:root {
  --clr-white: #fefefe;

  --clr-green-dark: #06331b;
  --clr-green-light: #0c4e2b;
  --clr-green-light-8: #b7ffe3;
}

/* base style  */

/* public style  */

/* header design  */

/* mobile navigation style */

/* hero style  */
